{* 顯示是smarty變數識符裡的用*包含的文字為註釋內容 *}
{include file="tpl/header.tpl"}{*頁面頭*}
<p>大家好，我叫{$name}, 歡迎大家。</p>

以下為測試:</br>
{$root_attr|escape}
<root attr="{$root_attr|escape}">
    {section name="d" loop=$elem_data}
        <elem>{$elem_data[d]|escape}</elem>
    {/section}
</root>
{include file="tpl/foot.tpl"}{*頁面尾*} 
